<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Customer::customer" title="Customers" translate="title" sortOrder="40">
                    <resource id="Wdevs_InquireManager::inquiremanager" title="Inquire Manager" translate="title" sortOrder="60">
                        <resource id="Wdevs_InquireManager::actions" title="Actions" translate="title" sortOrder="10">
                            <resource id="Wdevs_InquireManager::create_customer" title="Create Customer" translate="title" sortOrder="50" />
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Wdevs_InquireManager::config" title="Inquire Manager" translate="title" sortOrder="60" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>