<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Wdevs_InquireManager::inquiremanager" title="Account Requests" translate="title" module="Wdevs_InquireManager" sortOrder="70" parent="Magento_Customer::customer" action="inquiremanager/inquire/listing" resource="Magento_Backend::content"/>
    </menu>
</config>
